* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Setting_left {
  background-color: #1f1d2b;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  height: 65vh;
  width: 22vw;
}

.Setting_left_content {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: -2rem 0rem;
  padding-top: 2rem;
  overflow: hidden;
}
.apariencia {
  display: flex;
}
.restaurante {
  display: flex;
}

.managment {
  display: flex;
}
.noti {
  display: flex;
}
.security {
  display: flex;
}
.about {
  display: flex;
}

.setting-left-content-content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-right: 4rem;
}

.setting-left-component-content {
  padding: 1rem;
  width: 23.4vw;
}
.setting-left-body {
  padding-right: 3rem;
}

.setting-left-img {
  padding-bottom: 2rem;
}

.setting-left-title {
  padding-left: 0.3rem;
}

.setting-left-img-barra {
  position: absolute;
  padding-left: 24.5rem;
}
